{
  "openapi": "3.0.0",
  "externalDocs": {
    "description": "See documentation for Akamai's Security Information and Event Management API",
    "url": "https://techdocs.akamai.com/siem-integration/reference"
  },
  "info": {
    "title": "Akamai: Security Information and Event Management API",
    "version": "1",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "paths": {
    "/configs/{configId}": {
      "get": {
        "description": "Get security events data from your security configurations. Get data in one of two modes: offset or time-based. Both modes order event logs based on their storage time in the database, not the time when the events actually occurred. This may result in delayed event logs in subsequent offset requests, or older event logs in time-based requests. If the connection is disrupted, use time-based mode to go back and replay security events within the last 12 hours. Use `offset` and `limit` parameters in offset mode. Use `from`, `to` and `limit` parameters in time-based mode. The potentially large response contains a series of JSON objects, each separated with a line break and each corresponding to a security event. The last line of the response is a [ResponseContext] (ref:responsecontext-1) object that provides `total` records fetched, an `offset` to use a starting point for the next batch of data, and `limit` which shows if the fetch operation reached the limit you set. Run this operation continuously as long as it returns new logs to ensure you don't miss any. The API may return a maximum of 600,000 logs per request, while your configurations might generate many more in periods of high traffic.",
        "operationId": "get-config",
        "summary": "Fetch security events",
        "tags": [
          "Events"
        ],
        "externalDocs": {
          "description": "See documentation for this operation in Akamai's Security Information and Event Management API",
          "url": "https://techdocs.akamai.com/siem-integration/reference/get-config"
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "example": {
                  "format": "json",
                  "type": "akamai_siem",
                  "version": "1.0",
                  "attackData": {
                    "clientIP": "192.0.2.19",
                    "configId": "14227",
                    "policyId": "qik1_26545",
                    "ruleActions": "YWxlcnQ%3d%3bYWxlcnQ%3d%3bZGVueQ%3d%3d",
                    "ruleData": "dGVsbmV0LmV4ZQ%3d%3d%3bdGVsbmV0LmV4ZQ%3d%3d%3bVmVjdG9yIFNjb3JlOiAxMCwgREVOWSB0aHJlc2hvbGQ6IDksIEFsZXJ0IFJ1bGVzOiA5NTAwMDI6OTUwMDA2LCBEZW55IFJ1bGU6ICwgTGFzdCBNYXRjaGVkIE1lc3NhZ2U6IFN5c3RlbSBDb21tYW5kIEluamVjdGlvbg%3d%3d",
                    "ruleMessages": "U3lzdGVtIENvbW1hbmQgQWNjZXNz%3bU3lzdGVtIENvbW1hbmQgSW5qZWN0aW9u%3bQW5vbWFseSBTY29yZSBFeGNlZWRlZCBmb3IgQ29tbWFuZCBJbmplY3Rpb24%3d",
                    "ruleSelectors": "QVJHUzpvcHRpb24%3d%3bQVJHUzpvcHRpb24%3d%3b",
                    "ruleTags": "T1dBU1BfQ1JTL1dFQl9BVFRBQ0svRklMRV9JTkpFQ1RJT04%3d%3bT1dBU1BfQ1JTL1dFQl9BVFRBQ0svQ09NTUFORF9JTkpFQ1RJT04%3d%3bQUtBTUFJL1BPTElDWS9DTURfSU5KRUNUSU9OX0FOT01BTFk%3d",
                    "ruleVersions": "NA%3d%3d%3bNA%3d%3d%3bMQ%3d%3d",
                    "rules": "OTUwMDAy%3bOTUwMDA2%3bQ01ELUlOSkVDVElPTi1BTk9NQUxZ"
                  },
                  "botData": {
                    "botScore": "100",
                    "responseSegment": "3"
                  },
                  "clientData": {
                    "appBundleId": "com.mydomain.myapp",
                    "appVersion": "1.23",
                    "sdkVersion": "4.7.1",
                    "telemetryType": "2"
                  },
                  "geo": {
                    "asn": "14618",
                    "city": "ASHBURN",
                    "continent": "288",
                    "country": "US",
                    "regionCode": "VA"
                  },
                  "httpMessage": {
                    "bytes": "266",
                    "host": "www.hmapi.com",
                    "method": "GET",
                    "path": "/",
                    "port": "80",
                    "protocol": "HTTP/1.1",
                    "query": "option=com_jce%20telnet.exe",
                    "requestHeaders": "User-Agent%3a%20BOT%2f0.1%20(BOT%20for%20JCE)%0d%0aAccept%3a%20text%2fhtml,application%2fxhtml+xml,application%2fxml%3bq%3d0.9,*%2f*%3bq%3d0.8%0d%0auniqueID%3a%20CR_H8%0d%0aAccept-Language%3a%20en-US,en%3bq%3d0.5%0d%0aAccept-Encoding%3a%20gzip,%20deflate%0d%0aConnection%3a%20keep-alive%0d%0aHost%3a%20www.hmapi.com%0d%0aContent-Length%3a%200%0d%0a",
                    "requestId": "1158db1758e37bfe67b7c09",
                    "responseHeaders": "Server%3a%20AkamaiGHost%0d%0aMime-Version%3a%201.0%0d%0aContent-Type%3a%20text%2fhtml%0d%0aContent-Length%3a%20266%0d%0aExpires%3a%20Tue,%2004%20Apr%202017%2010%3a57%3a02%20GMT%0d%0aDate%3a%20Tue,%2004%20Apr%202017%2010%3a57%3a02%20GMT%0d%0aConnection%3a%20close%0d%0aSet-Cookie%3a%20ak_bmsc%3dAFE4B6D8CEEDBD286FB10F37AC7B256617DB580D417F0000FE7BE3580429E23D%7epluPrgNmaBdJqOLZFwxqQLSkGGMy4zGMNXrpRIc1Md4qtsDfgjLCojg1hs2HC8JqaaB97QwQRR3YS1ulk+6e9Dbto0YASJAM909Ujbo6Qfyh1XpG0MniBzVbPMUV8oKhBLLPVSNCp0xXMnH8iXGZUHlUsHqWONt3+EGSbWUU320h4GKiGCJkig5r+hc6V1pi3tt7u3LglG3DloEilchdo8D7iu4lrvvAEzyYQI8Hao8M0%3d%3b%20expires%3dTue,%2004%20Apr%202017%2012%3a57%3a02%20GMT%3b%20max-age%3d7200%3b%20path%3d%2f%3b%20domain%3d.hmapi.com%3b%20HttpOnly%0d%0a",
                    "start": "1491303422",
                    "status": "200"
                  },
                  "userRiskData": {
                    "allow": "0",
                    "general": "duc_1h:10|duc_1d:30",
                    "originUserId": "jsmith007",
                    "risk": "udfp:1325gdg4g4343g/M|unp:74256/H",
                    "score": "75",
                    "status": "0",
                    "trust": "ugp:US",
                    "username": "jkowalski",
                    "uuid": "964d54b7-0821-413a-a4d6-8131770ec8d5"
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "description": "This object encapsulates each security event. Each line of response body output represents one of these objects, except for the last, which is a [ResponseContext](https://techdocs.akamai.com/siem-integration/reference/responsecontext-1) object.",
                  "type": "object",
                  "required": [
                    "attackData",
                    "format",
                    "type",
                    "version",
                    "httpMessage",
                    "geo"
                  ],
                  "properties": {
                    "attackData": {
                      "additionalProperties": false,
                      "description": "Characterizes the nature of each attack and provides details on the set of configuration rules that intercepted it. Each rule-related member encodes a conceptual array of faceted data for more than one rule. See [Configuration rule data](https://techdocs.akamai.com/siem-integration/reference/configuration-rule-data-1) for details.",
                      "type": "object",
                      "required": [
                        "ruleMessages",
                        "ruleSelectors",
                        "rules",
                        "ruleActions",
                        "ruleVersions",
                        "ruleData",
                        "policyId",
                        "configId",
                        "clientIP",
                        "ruleTags"
                      ],
                      "properties": {
                        "apiId": {
                          "description": "For attacks on API services, this is a unique identifier under which the API is protected. It corresponds to the `apiEndPointId` value in the [API Endpoint Definition API](https://techdocs.akamai.com/api-gateway/reference/api) — for example, `API_41`.",
                          "type": "string"
                        },
                        "apiKey": {
                          "description": "For attacks on API services, this is the security you specify. It corresponds to the `apiKeyName` value in the [API Endpoint Definition API](https://techdocs.akamai.com/api-gateway/reference/api) — for example, `bkayZOMvuy8aZOhIgxq94K9Oe7Y70Hw55`.",
                          "type": "string"
                        },
                        "clientIP": {
                          "description": "The IP address of the client making the request — for example, `72.229.28.185`.",
                          "type": "string"
                        },
                        "clientReputation": {
                          "description": "For Client Reputation customers, provides information on the client IP's reputation — for example, `ID=172.19.185.64;WEBATCK=9;DOSATCK=9`. See the [Client Reputation Integration Guide](https://control.akamai.com/dl/customers/KONA/ClientReputation/ClientRep_IntegrationGuide.pdf) for details.",
                          "type": "string"
                        },
                        "configId": {
                          "description": "Unique identifier for the security configuration that applied to this request — for example, `6724`.",
                          "type": "string"
                        },
                        "policyId": {
                          "description": "Unique identifier for the firewall policy applied to this request — for example, `scoe_5426`. Each security configuration may contain more than one policy.",
                          "type": "string"
                        },
                        "ruleActions": {
                          "description": "Identifies whether the request was aborted (`deny`) or allowed to pass with a warning logged (`alert`) — for example, `QUxFUlQ;REVOWQ==`. See [Configuration rule data](https://techdocs.akamai.com/siem-integration/reference/configuration-rule-data-1) for information on decoding this value.",
                          "type": "string"
                        },
                        "ruleData": {
                          "description": "User-supplied values that led each rule to trigger, typically suspect text that appears somewhere in the request, or a specified Client Reputation score — for example, `YWxlcnQo;Y3VybA==`. See [Configuration rule data](https://techdocs.akamai.com/siem-integration/reference/configuration-rule-data-1) for information on decoding this value.",
                          "type": "string"
                        },
                        "ruleMessages": {
                          "description": "The message reported by each triggered rule — for example, `Q3Jvc3Mtc2l0ZSBTY3Jp<wbr>cHRpbmcgKFhTUykgQXR0YWNr<wbr>;UmVxdWVzdCBJbmRp<wbr>Y2F0ZXMgYW4gYXV0b21hdGVk<wbr>IHByb2dyYW0gZXhw<wbr>bG9yZWQgdGhlIHNpdGU=`. See [Configuration rule data](https://techdocs.akamai.com/siem-integration/reference/configuration-rule-data-1) for information on decoding this value.",
                          "type": "string"
                        },
                        "ruleSelectors": {
                          "description": "Identifies the location in the request that triggered each rule, such as the name of an HTTP header — for example, `QVJHUzph;UkVRV<wbr>UVTVF9IRUFERVJTO<wbr>lVzZXItQWdlbnQ=`. See [Configuration rule data](https://techdocs.akamai.com/siem-integration/reference/configuration-rule-data-1) for information on decoding this value.",
                          "type": "string"
                        },
                        "ruleTags": {
                          "description": "Represents a set of categories for the triggered rule — for example, `V0VCX0FU<wbr>VEFDSy9YU1M=;QVVUT01B<wbr>VElPTi9NSVND`. See [Configuration rule data](https://techdocs.akamai.com/siem-integration/reference/configuration-rule-data-1) for information on decoding this value.",
                          "type": "string"
                        },
                        "ruleVersions": {
                          "description": "The version of each triggered rule — for example, `4,4,4,4,4,1`. See [Configuration rule data](https://techdocs.akamai.com/siem-integration/reference/configuration-rule-data-1) for information on decoding this value.",
                          "type": "string"
                        },
                        "rules": {
                          "description": "A series of identifiers for rules within the configuration that triggered for this request — for example, `OTUwMDA0;OTkwMDEx`. See [Configuration rule data](https://techdocs.akamai.com/siem-integration/reference/configuration-rule-data-1) for information on decoding this value.",
                          "type": "string"
                        },
                        "slowPostAction": {
                          "description": "For any detected slow POST attack, indicate the resulting action, either `W` for a warning, or `A` for abort (deny). This member appears only when slow POST protection triggers.",
                          "type": "string",
                          "enum": [
                            "W",
                            "A"
                          ]
                        },
                        "slowPostRate": {
                          "description": "For any detected slow POST attack, indicates the recorded rate of the attack in bytes per second — for example, `10`. This member appears only when slow POST protection triggers.",
                          "type": "string"
                        }
                      }
                    },
                    "botData": {
                      "additionalProperties": false,
                      "description": "An optional object that contains Bot Score data. This object is only available to Bot Manager customers and only on endpoints with Bot Score enabled.",
                      "type": "object",
                      "required": [
                        "botScore",
                        "responseSegment"
                      ],
                      "properties": {
                        "botScore": {
                          "description": "Numerical Bot Score for protected requests. Range 0:100.",
                          "type": "string"
                        },
                        "responseSegment": {
                          "description": "Response Segment indicator: `0` - Human, `1` - Cautious response, `2` - Strict response, `3` - Aggressive response, `4` - Safeguard.",
                          "type": "string",
                          "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4"
                          ]
                        }
                      }
                    },
                    "clientData": {
                      "additionalProperties": false,
                      "description": "An optional object that contains client information. This object is only available to Bot Manager customers and only on endpoints configured for bot endpoint protection.",
                      "type": "object",
                      "required": [
                        "telemetryType"
                      ],
                      "properties": {
                        "appBundleId": {
                          "description": "App bundle id. This will be present only if telemetry type is native app sdk telemetry.",
                          "type": "string"
                        },
                        "appVersion": {
                          "description": "App version. This will be present only if telemetry type is native app sdk telemetry.",
                          "type": "string"
                        },
                        "sdkVersion": {
                          "description": "Native App Traffic Protection SDK Version. This will be present only if telemetry type is native app sdk telemetry.",
                          "type": "string"
                        },
                        "telemetryType": {
                          "description": "The telemetry type for this client request: `0` for webclient standard telemetry, `1` for webclient inline telemetry, or `2` for native app SDK telemetry.",
                          "type": "string",
                          "enum": [
                            "0",
                            "1",
                            "2"
                          ]
                        }
                      }
                    },
                    "custom": {
                      "description": "A value you can customize to distinguish subsets of content. Contact Akamai Professional Services for help configuring the custom field. Size limit is 2KB. See [Configuration rule data](https://techdocs.akamai.com/siem-integration/reference/configuration-rule-data-1) for information on decoding this value.",
                      "type": "string"
                    },
                    "format": {
                      "description": "The format of the data representing this security event, `json` in this context.",
                      "type": "string",
                      "enum": [
                        "json"
                      ]
                    },
                    "geo": {
                      "additionalProperties": false,
                      "description": "Encapsulates location data for the attack's source.",
                      "type": "object",
                      "required": [
                        "country",
                        "asn",
                        "regionCode",
                        "continent",
                        "city"
                      ],
                      "properties": {
                        "asn": {
                          "description": "The AS number or numbers that the IP belongs to — for example, `12271`.",
                          "type": "string"
                        },
                        "city": {
                          "description": "The city to which the IP address maps — for example, `NEWYORK`.",
                          "type": "string"
                        },
                        "continent": {
                          "description": "A two-letter code for the continent to which the IP address maps — for example, `NA`.",
                          "type": "string"
                        },
                        "country": {
                          "description": "A two-letter ISO 3166 code for the country to which the IP address maps — for example, `US`.",
                          "type": "string"
                        },
                        "regionCode": {
                          "description": "A two-letter ISO 3166 code representing the state, province, or region to which the IP address maps — for example, `NY`.",
                          "type": "string"
                        }
                      }
                    },
                    "httpMessage": {
                      "additionalProperties": false,
                      "description": "Provides context on each attack's HTTP request.",
                      "type": "object",
                      "required": [
                        "status",
                        "protocol",
                        "requestHeaders",
                        "bytes",
                        "method",
                        "start",
                        "host",
                        "requestId",
                        "query",
                        "path",
                        "responseHeaders",
                        "port"
                      ],
                      "properties": {
                        "bytes": {
                          "description": "The number of bytes served in the response, represented as an integer string — for example, `34523`.",
                          "type": "string"
                        },
                        "host": {
                          "description": "The incoming client request's `Host` header — for example, `www.example.com`.",
                          "type": "string"
                        },
                        "method": {
                          "description": "The request's HTTP method, either `GET`, `POST`, `PUT`, `DELETE`, `HEAD`, or `OPTIONS`.",
                          "type": "string",
                          "enum": [
                            "GET",
                            "POST",
                            "DELETE",
                            "PUT",
                            "HEAD",
                            "OPTIONS"
                          ]
                        },
                        "path": {
                          "description": "The server path from the client's requested URL, excluding query strings — for example, `/examples/1/`.",
                          "type": "string"
                        },
                        "port": {
                          "description": "The port number for the incoming request, either `80` or `443`.",
                          "type": "string",
                          "enum": [
                            "80",
                            "443"
                          ]
                        },
                        "protocol": {
                          "description": "The request protocol — for example, `http/2`.",
                          "type": "string"
                        },
                        "query": {
                          "description": "The client request's full query string — for example, `option=com_jce%20telnet.exe`.",
                          "type": "string"
                        },
                        "requestHeaders": {
                          "description": "The full set of request headers, URL-encoded.",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "A unique identifier for each request — for example, `2ab418ac8515f33`.",
                          "type": "string"
                        },
                        "responseHeaders": {
                          "description": "The full set of response headers, URL-encoded.",
                          "type": "string"
                        },
                        "start": {
                          "description": "A string representation of the epoch time when the edge server initiated the connection for the request — for example, `1497291979`.",
                          "type": "string"
                        },
                        "status": {
                          "description": "The HTTP response status code sent to the client — for example, `301`.",
                          "type": "string"
                        },
                        "tls": {
                          "description": "TLS version if applicable. Should be equal to `AK_TLS_VERSION` — for example, `TLSv1.2`.",
                          "type": "string"
                        }
                      }
                    },
                    "type": {
                      "description": "Characterizes the source of this report data. Value is always `akamai_siem`.",
                      "type": "string",
                      "enum": [
                        "akamai_siem"
                      ]
                    },
                    "userRiskData": {
                      "additionalProperties": false,
                      "description": "An optional object that contains user risk information. This object is only available to Identity Protector customers and only on endpoints configured for identity protection.",
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "allow": {
                          "description": "A `0` means the user was not on the allow list. A `1` means the user was on the allow list.",
                          "type": "string",
                          "enum": [
                            "0",
                            "1"
                          ]
                        },
                        "general": {
                          "description": "Indicators (users per device, IPs per user, etc) of general behavior observed for relevant attributes.",
                          "type": "string"
                        },
                        "originUserId": {
                          "description": "The unencrypted user ID, provided by the origin.",
                          "type": "string"
                        },
                        "risk": {
                          "description": "Indicators (e.g. device, geo, asn, tod) that increased the calculated risk score.",
                          "type": "string"
                        },
                        "score": {
                          "description": "Score ranging from 0 to 100. A `0` means no risk and `100` is the highest possible risk.",
                          "type": "string"
                        },
                        "status": {
                          "description": "Status code describing any errors that occurred during risk scoring: `0` - no error, `1` - unknown error, `2` - user profile not found, `3` - user profile insufficient for accurate score, `4` - no telemetry received for Bot Manager cookie presented in this request, `5` - calculation timeout, `6` - username not found in client request, `7` - can't identify user on this non-login request.",
                          "type": "string",
                          "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7"
                          ]
                        },
                        "trust": {
                          "description": "Indicators (e.g. device, geo, asn, tod) that were trusted.",
                          "type": "string"
                        },
                        "username": {
                          "description": "The unencrypted username, provided at login by the user.",
                          "type": "string"
                        },
                        "uuid": {
                          "description": "Unique identifier for the user whose user risk data is provided here.",
                          "type": "string"
                        }
                      }
                    },
                    "version": {
                      "description": "The version number for this report's JSON data format — for example, `1.0`.",
                      "type": "string"
                    }
                  },
                  "x-akamai": {
                    "file-path": "schemas/siem-event-200.yaml"
                  }
                }
              }
            }
          },
          "400": {
            "description": "[Bad request](https://techdocs.akamai.com/siem-integration/reference/400). Invalid request body or URL parameter input.",
            "content": {
              "application/problem+json": {
                "example": {
                  "clientIp": "192.0.2.136",
                  "detail": "Missing mandatory parameter(s) or illegal parameter(s) in the request",
                  "instance": "https://akab-1234abcd.luna.akamaiapis.net/siem/v1/configs=12345",
                  "method": "GET",
                  "requestId": "9cf81a9",
                  "requestTime": "2023-06-20T15:02:30Z",
                  "serverIp": "192.0.2.118",
                  "title": "Missing mandatory parameter(s) or illegal parameter(s) in the request",
                  "type": "https://problems.cloudsecurity.akamaiapis.net/siem/v1/missing-parameters"
                },
                "schema": {
                  "additionalProperties": true,
                  "description": "Encapsulates debugging information for error responses.",
                  "type": "object",
                  "required": [
                    "type",
                    "title"
                  ],
                  "properties": {
                    "detail": {
                      "description": "Detail error message.",
                      "type": "string"
                    },
                    "errors": {
                      "description": "Further nested problem objects describing individual errors.",
                      "type": "array",
                      "items": {
                        "description": "A further-nested problem object.",
                        "type": "object",
                        "x-akamai": {
                          "file-path": "schemas/problem-nested.yaml"
                        }
                      }
                    },
                    "instance": {
                      "description": "The non-referenceable URI for the error instance.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-instances/d54686b5-21cb-4ab7-a8d6-a92282cf1749",
                      "type": "string"
                    },
                    "status": {
                      "description": "HTTP status code.",
                      "example": 404,
                      "type": "integer"
                    },
                    "title": {
                      "description": "Title for the error.",
                      "example": "Not Found",
                      "type": "string"
                    },
                    "type": {
                      "description": "URL for the error type.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-types/NOT-FOUND",
                      "type": "string"
                    }
                  },
                  "x-akamai": {
                    "file-path": "schemas/problem.yaml"
                  }
                }
              }
            }
          },
          "403": {
            "description": "[Forbidden](https://techdocs.akamai.com/siem-integration/reference/403). You don't have permission to view the resource.",
            "content": {
              "application/problem+json": {
                "example": {
                  "clientIp": "192.0.2.41",
                  "detail": "The specified user is unauthorized to access the requested data",
                  "instance": "https://akab-1234abcd.luna.akamaiapis.net/siem/v1/configs=123",
                  "method": "GET",
                  "requestId": "9cf2274",
                  "requestTime": "2023-06-20T15:01:11Z",
                  "serverIp": "192.0.2.107",
                  "title": "Unauthorized",
                  "type": "https://problems.cloudsecurity.akamaiapis.net/siem/v1/unauthorized"
                },
                "schema": {
                  "additionalProperties": true,
                  "description": "Encapsulates debugging information for error responses.",
                  "type": "object",
                  "required": [
                    "type",
                    "title"
                  ],
                  "properties": {
                    "detail": {
                      "description": "Detail error message.",
                      "type": "string"
                    },
                    "errors": {
                      "description": "Further nested problem objects describing individual errors.",
                      "type": "array",
                      "items": {
                        "description": "A further-nested problem object.",
                        "type": "object",
                        "x-akamai": {
                          "file-path": "schemas/problem-nested.yaml"
                        }
                      }
                    },
                    "instance": {
                      "description": "The non-referenceable URI for the error instance.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-instances/d54686b5-21cb-4ab7-a8d6-a92282cf1749",
                      "type": "string"
                    },
                    "status": {
                      "description": "HTTP status code.",
                      "example": 404,
                      "type": "integer"
                    },
                    "title": {
                      "description": "Title for the error.",
                      "example": "Not Found",
                      "type": "string"
                    },
                    "type": {
                      "description": "URL for the error type.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-types/NOT-FOUND",
                      "type": "string"
                    }
                  },
                  "x-akamai": {
                    "file-path": "schemas/problem.yaml"
                  }
                }
              }
            }
          },
          "404": {
            "description": "[Not found](https://techdocs.akamai.com/siem-integration/reference/404). The resource wasn't found.",
            "content": {
              "application/problem+json": {
                "example": {
                  "clientIp": "192.0.2.150",
                  "detail": "The data for the object requested does not exist",
                  "instance": "https://akab-1234abcd.luna.akamaiapis.net/siem/v1/configs=12345?offset=123",
                  "method": "GET",
                  "requestId": "9ab12ef",
                  "requestTime": "2023-06-20T15:02:30Z",
                  "serverIp": "192.0.2.61",
                  "title": "Not found",
                  "type": "https://problems.cloudsecurity.akamaiapis.net/siem/v1/not-found"
                },
                "schema": {
                  "additionalProperties": true,
                  "description": "Encapsulates debugging information for error responses.",
                  "type": "object",
                  "required": [
                    "type",
                    "title"
                  ],
                  "properties": {
                    "detail": {
                      "description": "Detail error message.",
                      "type": "string"
                    },
                    "errors": {
                      "description": "Further nested problem objects describing individual errors.",
                      "type": "array",
                      "items": {
                        "description": "A further-nested problem object.",
                        "type": "object",
                        "x-akamai": {
                          "file-path": "schemas/problem-nested.yaml"
                        }
                      }
                    },
                    "instance": {
                      "description": "The non-referenceable URI for the error instance.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-instances/d54686b5-21cb-4ab7-a8d6-a92282cf1749",
                      "type": "string"
                    },
                    "status": {
                      "description": "HTTP status code.",
                      "example": 404,
                      "type": "integer"
                    },
                    "title": {
                      "description": "Title for the error.",
                      "example": "Not Found",
                      "type": "string"
                    },
                    "type": {
                      "description": "URL for the error type.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-types/NOT-FOUND",
                      "type": "string"
                    }
                  },
                  "x-akamai": {
                    "file-path": "schemas/problem.yaml"
                  }
                }
              }
            }
          },
          "416": {
            "description": "[Expired offset parameter in the request](https://techdocs.akamai.com/siem-integration/reference/416). ",
            "content": {
              "application/problem+json": {
                "example": {
                  "clientIp": "192.0.2.11",
                  "detail": "Expired offset parameter in the request",
                  "instance": "https://akab-1234abcd.luna.akamaiapis.net/siem/v1/configs=12345?offset=123",
                  "method": "GET",
                  "requestId": "9ab12ef",
                  "requestTime": "2023-06-20T15:02:30Z",
                  "serverIp": "192.0.2.69",
                  "title": "Expired offset parameter in the request",
                  "type": "https://problems.cloudsecurity.akamaiapis.net/siem/v1/offset-too-old"
                },
                "schema": {
                  "additionalProperties": true,
                  "description": "Encapsulates debugging information for error responses.",
                  "type": "object",
                  "required": [
                    "type",
                    "title"
                  ],
                  "properties": {
                    "detail": {
                      "description": "Detail error message.",
                      "type": "string"
                    },
                    "errors": {
                      "description": "Further nested problem objects describing individual errors.",
                      "type": "array",
                      "items": {
                        "description": "A further-nested problem object.",
                        "type": "object",
                        "x-akamai": {
                          "file-path": "schemas/problem-nested.yaml"
                        }
                      }
                    },
                    "instance": {
                      "description": "The non-referenceable URI for the error instance.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-instances/d54686b5-21cb-4ab7-a8d6-a92282cf1749",
                      "type": "string"
                    },
                    "status": {
                      "description": "HTTP status code.",
                      "example": 404,
                      "type": "integer"
                    },
                    "title": {
                      "description": "Title for the error.",
                      "example": "Not Found",
                      "type": "string"
                    },
                    "type": {
                      "description": "URL for the error type.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-types/NOT-FOUND",
                      "type": "string"
                    }
                  },
                  "x-akamai": {
                    "file-path": "schemas/problem.yaml"
                  }
                }
              }
            }
          },
          "429": {
            "description": "[Exceeded rate limit](https://techdocs.akamai.com/siem-integration/reference/429). Too many requests.",
            "content": {
              "application/problem+json": {
                "example": {
                  "clientIp": "192.0.2.33",
                  "detail": "Too many requests made from clients of this account",
                  "instance": "https://akab-1234abcd.luna.akamaiapis.net/siem/v1/configs=12345?offset=123",
                  "method": "GET",
                  "requestId": "9ab12ef",
                  "requestTime": "2023-06-20T15:02:30Z",
                  "serverIp": "192.0.2.99",
                  "title": "Too many requests",
                  "type": "https://problems.cloudsecurity.akamaiapis.net/siem/v1/too-many-requests"
                },
                "schema": {
                  "additionalProperties": true,
                  "description": "Encapsulates debugging information for error responses.",
                  "type": "object",
                  "required": [
                    "type",
                    "title"
                  ],
                  "properties": {
                    "detail": {
                      "description": "Detail error message.",
                      "type": "string"
                    },
                    "errors": {
                      "description": "Further nested problem objects describing individual errors.",
                      "type": "array",
                      "items": {
                        "description": "A further-nested problem object.",
                        "type": "object",
                        "x-akamai": {
                          "file-path": "schemas/problem-nested.yaml"
                        }
                      }
                    },
                    "instance": {
                      "description": "The non-referenceable URI for the error instance.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-instances/d54686b5-21cb-4ab7-a8d6-a92282cf1749",
                      "type": "string"
                    },
                    "status": {
                      "description": "HTTP status code.",
                      "example": 404,
                      "type": "integer"
                    },
                    "title": {
                      "description": "Title for the error.",
                      "example": "Not Found",
                      "type": "string"
                    },
                    "type": {
                      "description": "URL for the error type.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-types/NOT-FOUND",
                      "type": "string"
                    }
                  },
                  "x-akamai": {
                    "file-path": "schemas/problem.yaml"
                  }
                }
              }
            }
          },
          "500": {
            "description": "[Any other server error](https://techdocs.akamai.com/siem-integration/reference/500).",
            "content": {
              "application/problem+json": {
                "example": {
                  "clientIp": "192.0.2.32",
                  "detail": "Internal server error",
                  "instance": "https://akab-1234abcd.luna.akamaiapis.net/siem/v1/configs=12345?offset=123",
                  "method": "GET",
                  "requestId": "9ab12ef",
                  "requestTime": "2023-06-20T15:02:30Z",
                  "serverIp": "192.0.2.182",
                  "title": "Error",
                  "type": "https://problems.cloudsecurity.akamaiapis.net/siem/v1/error"
                },
                "schema": {
                  "additionalProperties": true,
                  "description": "Encapsulates debugging information for error responses.",
                  "type": "object",
                  "required": [
                    "type",
                    "title"
                  ],
                  "properties": {
                    "detail": {
                      "description": "Detail error message.",
                      "type": "string"
                    },
                    "errors": {
                      "description": "Further nested problem objects describing individual errors.",
                      "type": "array",
                      "items": {
                        "description": "A further-nested problem object.",
                        "type": "object",
                        "x-akamai": {
                          "file-path": "schemas/problem-nested.yaml"
                        }
                      }
                    },
                    "instance": {
                      "description": "The non-referenceable URI for the error instance.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-instances/d54686b5-21cb-4ab7-a8d6-a92282cf1749",
                      "type": "string"
                    },
                    "status": {
                      "description": "HTTP status code.",
                      "example": 404,
                      "type": "integer"
                    },
                    "title": {
                      "description": "Title for the error.",
                      "example": "Not Found",
                      "type": "string"
                    },
                    "type": {
                      "description": "URL for the error type.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-types/NOT-FOUND",
                      "type": "string"
                    }
                  },
                  "x-akamai": {
                    "file-path": "schemas/problem.yaml"
                  }
                }
              }
            }
          },
          "503": {
            "description": "[Service unavailable](https://techdocs.akamai.com/siem-integration/reference/503).",
            "content": {
              "application/problem+json": {
                "example": {
                  "clientIp": "192.0.2.134",
                  "detail": "There is no available backend system to respond to the request",
                  "instance": "https://akab-1234abcd.luna.akamaiapis.net/siem/v1/configs=12345?offset=123",
                  "method": "GET",
                  "requestId": "9ab12ef",
                  "requestTime": "2023-06-20T15:02:30Z",
                  "serverIp": "192.0.2.62",
                  "title": "Service unavailable",
                  "type": "https://problems.cloudsecurity.akamaiapis.net/siem/v1/service-unavailable"
                },
                "schema": {
                  "additionalProperties": true,
                  "description": "Encapsulates debugging information for error responses.",
                  "type": "object",
                  "required": [
                    "type",
                    "title"
                  ],
                  "properties": {
                    "detail": {
                      "description": "Detail error message.",
                      "type": "string"
                    },
                    "errors": {
                      "description": "Further nested problem objects describing individual errors.",
                      "type": "array",
                      "items": {
                        "description": "A further-nested problem object.",
                        "type": "object",
                        "x-akamai": {
                          "file-path": "schemas/problem-nested.yaml"
                        }
                      }
                    },
                    "instance": {
                      "description": "The non-referenceable URI for the error instance.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-instances/d54686b5-21cb-4ab7-a8d6-a92282cf1749",
                      "type": "string"
                    },
                    "status": {
                      "description": "HTTP status code.",
                      "example": 404,
                      "type": "integer"
                    },
                    "title": {
                      "description": "Title for the error.",
                      "example": "Not Found",
                      "type": "string"
                    },
                    "type": {
                      "description": "URL for the error type.",
                      "example": "https://problems.luna.akamaiapis.net/siem/error-types/NOT-FOUND",
                      "type": "string"
                    }
                  },
                  "x-akamai": {
                    "file-path": "schemas/problem.yaml"
                  }
                }
              }
            }
          }
        },
        "x-akamai": {
          "supports-account-switch-key": false
        },
        "parameters": [
          {
            "description": "This token denotes the last message.  If specified, this operation fetches only security events that have occurred from offset. This is a required parameter for offset mode and you can't use it in time-based requests.",
            "example": "{{offset}}",
            "in": "query",
            "name": "offset",
            "schema": {
              "example": "c0bc409010aa6928e57cd5a3000433b9",
              "type": "string"
            },
            "x-akamai": {
              "file-path": "parameters/offset-query.yaml"
            }
          },
          {
            "description": "Defines the approximate maximum number of security events each fetch returns, in both offset and time-based modes. The default limit is `10000` and the maximum limit available is `600000`. Listing an unlimited number of logs isn't possible. Expect requests to return a slightly higher number of security events than you set in the `limit` parameter, because data is stored in different buckets.",
            "example": "{{limit}}",
            "in": "query",
            "name": "limit",
            "schema": {
              "example": 10,
              "type": "integer"
            },
            "x-akamai": {
              "file-path": "parameters/limit-query.yaml"
            }
          },
          {
            "description": "The start of a specified time range, expressed in Unix epoch seconds.  This is a required parameter to get time-based results for a set period, and you can't use it in offset mode.",
            "example": "{{from}}",
            "in": "query",
            "name": "from",
            "schema": {
              "example": 1488816442,
              "type": "integer"
            },
            "x-akamai": {
              "file-path": "parameters/from-query.yaml"
            }
          },
          {
            "description": "The end of a specified time range, expressed in Unix epoch seconds.  You can't use this parameter in offset mode and it's an optional parameter in time-based mode. If omitted, the value defaults to the current time.",
            "example": "{{to}}",
            "in": "query",
            "name": "to",
            "schema": {
              "example": 1488816784,
              "type": "integer"
            },
            "x-akamai": {
              "file-path": "parameters/to-query.yaml"
            }
          },
          {
            "description": "Unique identifier for each security configuration. To report on more than one configuration, separate integer identifiers with semicolons.",
            "example": "{{configId}}",
            "in": "path",
            "name": "configId",
            "required": true,
            "schema": {
              "example": "12892;29182;82912",
              "type": "string"
            },
            "x-akamai": {
              "file-path": "parameters/configId-path.yaml"
            }
          }
        ]
      }
    }
  },
  "x-readme": {
    "samples-languages": [
      "curl",
      "python",
      "node"
    ]
  },
  "servers": [
    {
      "url": "https://{hostname}/siem/v1"
    }
  ]
}