x-akamai:
  file-path: paths/config-failover-hostnames.yaml
  path-info: /configs/{configId}/failover-hostnames
parameters:
- $ref: ../parameters/config-id-path.yaml
get:
  operationId: get-failover-hostnames
  summary: List failover hostnames
  tags:
  - Failover hostnames
  description: |
    Get a list of the failover hostnames in a configuration. _Products:_ All.
  responses:
    200:
      description: |
        Successful response.
      content:
        application/json:
          example:
            $ref: ../examples/hostnames-200.json
          schema:
            $ref: ../schemas/hostnames.yaml
    400:
      $ref: ../errors/400.yaml
    403:
      $ref: ../errors/403.yaml
    404:
      $ref: ../errors/404.yaml
